<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arithmetic Game</title>

    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Bootstrap Slider
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>-->

    <!-- Vue.js newest version -->
    <script src ="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>-->

    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Local files -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js"></script>
</head>
<body>
    <div id="app" class="container-fluid">
        <audio id="audio" src="https://www.soundjay.com/nature/sounds/water-droplet-1.mp3" preload="auto"></audio>
        <div class="button-groups">
            <div class="btn-group" role="group" aria-label="Control">
                <div class="btn btn-secondary control-op" data-toggle="buttons">Use:
                     Checkbox 2
                    <input type="checkbox" id="checkbox" v-model="checked">

                    <button @click="toggle_op(0)" id="toggle-plus" type="button" class="btn btn-primary btn-op">
                        <input type="checkbox">+</button>
                    <button @click="toggle_op(1)" id="toggle-minus" type="button" class="btn btn-primary btn-op">
                        <input type="checkbox">&#8722;</button>
                    <button @click="toggle_op(2)" id="toggle-times" type="button" class="btn btn-primary btn-op">
                        <input type="checkbox">x</button>
                    <button @click="toggle_op(3)" id="toggle-divide" type="button" class="btn btn-primary btn-op">
                        <input type="checkbox">/</button>
                </div>
                <div class="btn btn-secondary control-op">
                    <select v-model="low_selected" class="form-control digit-control" id="min-digits">
                        <option v-for="option in options.slice(0, high_selected)" v-bind:value="option">{{option}}</option>
                    </select> −
                    <select v-model="high_selected" class="form-control digit-control" id="max-digits">
                        <option v-for="option in options.slice(low_selected - 1)" v-bind:value="option">{{option}}</option>
                    </select> digits
                </div>
            </div>
            <div class="btn-group pull-right" role="group" aria-label="Difficulty">
                <button id="score-counter" type="button" class="btn btn-success">Score: {{score}}</button>
                <!--<button id="help-button" type="button" class="btn btn-info" data-toggle="modal" data-target="#help">Help</button>-->
            </div>
        </div>
        <div class="jumbotron"> <!-- Introduction -->
            <transition name="fade">
                <div v-if = "!game_started">
                    <h1 id="game_title"> Arithmetic Game </h1>
                    <br><br>
                    <div id="instructions">
                        <p>Practice mental arithmetic with this game!</p>
                        <p>The operator and operands will be randomized for each problem,</p>
                        <p>Click on the operator buttons to enable and disable training with them,</p>
                        <p>Adjust difficulty by changing the minimum & maximum amount of digits,</p>
                        <p>Type 's' to skip a problem,</p>
                        <p>Type the answer, and it'll automatically be accepted!</p>
                    </div>
                    <button class='btn btn-primary btn-lg' id="start_button" @click = "start_game" tabindex="1" autofocus> Start  </button>
                </div>
                <div v-else>
                    <div class ="problem_and_answer">
                        <div class="problem">
                            <h2 id="actual-problem">{{first_num}} {{op_symbols[op]}} {{second_num}}</h2>
                            <h2 id="second_operand"></h2>
                        </div>

                        <div class="container form-group">
                            <input v-model = "response" v-focus type="text" class="form-control status-box" id="answer">
                        </div>
                    </div>
                </div>
            </transition>
            <!-- need this for computed value -->
            <p v-hide>{{check_response}}</p>


            <div id="debug">
                <br><br>
                <p>Debug Info: answer is {{answer}}</p>
                <p>{{response_times}}</p>
                <p>digits from {{low_selected}} to {{high_selected}}, numbers from {{n_smallest}} to {{n_largest}}</p>
                <p>{{ops_used}}</p>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    new Vue({
        el: "#app",
        data: {
            game_started: false,
            response: "",
            answer: 42,

            first_num: null,
            second_num: null,

            op: null,
            ops: {0:'+', 1:'-', 2:'*', 3:'/'},
            op_symbols: {'+':'+', '-':'−', '*':'⋅', '/':'/'},
            ops_used: [true, true, true, true],
            active_ops: [0, 1, 2, 3],

            n_smallest: 1,
            n_largest: 99,

            start_time: null,
            response_times: [],
            score: 0,

            low_selected: 1,
            high_selected: 2,
            options: [1, 2, 3, 4, 5],

            checked: true,

        },
        methods: {
            start_game(){
                this.game_started = true;
                this.new_problem();
                this.start_time = this.time_format();
            },
            new_problem(){
                this.n_smallest = Math.pow(10, this.low_selected - 1);
                this.n_largest = Math.pow(10, this.high_selected) - 1;

                this.first_num = this.rand_int(this.n_smallest, this.n_largest);
                this.second_num = this.rand_int(this.n_smallest, this.n_largest);
                // gen from 1 to lcm(2, 3, 4) = 12

                this.op = this.ops[this.active_ops[this.rand_int(0, 11) % Object.keys(this.active_ops).length]];
                if (this.op == '/'){
                    // special case for division
                    [this.first_num, this.answer] = [this.first_num * this.second_num, this.first_num]
                } else {
                    this.answer = eval(this.first_num + ' ' + this.op + ' ' + this.second_num);
                }
                this.response = "";
            },
            rand_int(a, b){
                return Math.floor(Math.random() * (b - a + 1)) + a;
            },
            time_format(){
                return performance.now() / 1000;
            },
            play_sound_effect(){
                // makes sure that sound effect plays from start even when it's still playing
                audio.pause();
                audio.currentTime = 0;
                audio.play();
            },
            toggle_op(op_id){
                this.ops_used[op_id] = !this.ops_used[op_id];
                this.active_ops = Object.keys(this.ops).filter(x => this.ops_used[x]);
            },
        },
        computed: {
            check_response(){
                isCorrect = this.response == String(this.answer);
                if (isCorrect){

                    // Add to times
                    now = this.time_format();
                    // after adding, floats become inaccurate again, hence need to use toFixed
                    this.response_times.push(parseFloat((now - this.start_time).toFixed(2)));
                    this.start_time = now;

                    this.score ++;

                    this.play_sound_effect();

                    this.new_problem();
                } else if (this.response == 's'){
                    this.new_problem();
                }
            },
        }
    });
    // Register a global custom directive called `v-focus`
    Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        inserted: function (el) {
            // Focus the element
            el.focus()
        }
    })
</script>