.jumbotron {
    text-align: center;
}

.status-box {
    font-size: 4em;
    height: 2em;
    text-align: center;
}

.problem h2{
    font-size: 8em;
    text-align: center;
}

.button-groups {
    margin-top: 1em;
}

#min-digits, #max-digits {
    background-color: lightblue;
    width: 5em;
}

.digit-control {
    display: inline;
    font-weight: bolder;
}

.btn-op {
    display: inline;
}

.control-op {
    font-size: 2em;
}

[v-cloak] {
    display: none;
}

#answer {
    color: white;
}