html,
body {
    font-family: 'Roboto', sans-serif;
    color: #404040;
    background-color: #eee;
}

.jumbotron {
    text-align: center;
    margin: auto;
}

.status-box {
    font-size: 4em;
    height: 2em;
    text-align: center;
}

.problem h2{
    font-size: 8em;
    text-align: center;
}

.button-groups {
    margin-top: 1em;
}

#min-digits {
    background-color: burlywood;
}

#max-digits {
    background-color: darkgoldenrod;
}