#answer {
    font-size: 4em;
    height: 2em;
}

.problem h2{
    font-size: 8em;
}

.button-groups {
    margin-top: 1em;
}

#min-digits, #max-digits {
    width: 4em;
    border: none;
}

.digit-control {
    display: inline;
    font-weight: bolder;
}

.btn-op {
    display: inline;
}

.control-op {
    font-size: 2em;
}

[v-cloak] {
    display: none;
}

#answer {
    color: white;
}

#target-score {
    color: white;
    width: 3em;
    border: none;
}